@media only screen and (max-width: 1200px) {
  .image-rotate {
    height: 30em !important;
  }

  .left {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 1000px) {

  .imaSoft-con {
    margin-top: 0px !important;
  }

}

@media only screen and (max-width: 600px) {
  .introContainer {
    text-align: center !important;
  }

  .image-rotate {
    height: 300px !important;
  }

  .aboutContant {
    margin-left: 0px !important;
    display: inline-block;
    width: 100% !important;
    text-align: center !important;
    padding: 20px 20px !important;
  }

  .userImage2 {
    width: 20em !important;
    /* height: 300px !important; */
  }

  .ant-image .ant-image-img {
    width: 79% !important;
  }


}

@media only screen and (max-width: 900px) {
  .service {
    justify-content: center !important;
  }

  .imageCont.aos-init.aos-animate {
    width: auto !important;
  }

  .aboutContant {
    margin: 20px 20px !important;
    width: 100% !important;
    text-align: center !important;
  }
}


@media only screen and (max-width: 1000px) {

  h2.skill-heading {
    position: initial !important;
    padding-left: 0px !important;
    z-index: 0 !important;
    top: 0% !important;
    left: 0% !important;
    transform: rotate(0deg) !important;
    font-size: 40px;
    margin: 80px 5px;
    text-align: center !important;
  }

  .aboutContainer {
    justify-content: center !important;

  }

  .section-padding {
    padding: 0px 0px !important;
  }

}

@media only screen and (max-width: 500px) {

  .skill-bar-percent {
    position: initial !important;

  }

  .btn-resume-container {
    margin: 30px 20px !important;
  }

  .have-heading {
    font-size: 24px !important;
  }

  .JustSay {
    font-size: 40px !important;
  }
  .footer-main {
    justify-content: center !important;
}
}

@media only screen and (max-width: 400px) {
  .btn-resume-container {
    margin: 30px 20px !important;
  }

  img.ant-image-img.work-images {
    width: 20em !important;
  }

  .logo {
    margin: 5px 0px !important;
  }
}